@model List<string>
@{
    ViewData["Title"] = "Home Page";
    var isPlayer = User.IsInRole(UserRoles.Player);
}

<div>
    <p class="h4">Current server status</p>
    <div id="status-table-alert-container" class="container w-100"></div>
    <div class="container">
        <div id="status-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col">Server</th>
                        <th class="col">Machine</th>
                        <th class="col">Server</th>
                        <th class="col">Online</th>
                        <th class="col">Max</th>
                        @if (isPlayer)
                        {
                            <th class="col" colspan="3">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var serverName = Model[i];
                        var rowBg = i / 2 == 0 ? "bg-white" : "bg-light";
                        <tr id="row-1-@serverName" class="@rowBg">
                            <td id="display-name-@serverName" class="col align-middle">@serverName</td>
                            <td id="display-machinestate-@serverName" class="col text-center align-middle"></td>
                            <td id="display-serverstate-@serverName" class="col text-center align-middle"></td>
                            <td id="display-online-@serverName" class="col text-center align-middle"></td>
                            <td id="display-max-@serverName" class="col text-center align-middle"></td>
                            @if (isPlayer)
                            {
                                <td class="col">
                                    <button id="btn-start-@serverName" type="button" class="btn btn-sm btn-primary text-nowrap btn-server-start" data-server-name="@serverName">Start MC</button>
                                </td>
                                <td class="col">
                                    <button id="btn-stop-@serverName" type="button" class="btn btn-sm btn-primary text-nowrap btn-server-stop" data-server-name="@serverName">Stop MC</button>
                                </td>
                                <td class="col">
                                    <button id="btn-start-machine-@serverName" type="button" class="btn btn-sm btn-primary text-nowrap btn-machine-start" data-server-name="@serverName">Start Machine</button>
                                </td>
                            }
                        </tr>
                        <tr id="row-2-@serverName" class="@rowBg">
                            <td id="display-timestamp-@serverName" class="col" data-class="" colspan="@(isPlayer ? 8 : 5)"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/ts/mcstatus-subscribe.js"></script>
</div>